<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->


    <title>Document</title>


</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form action='/carform/create' method= "POST">
                    {{form.csrf_token}}
                       <h2 style="text-align: center;">Form Register</h2>
                       <div class="from-group">
                         {{form.name_mobil.label}}
                         {{form.name_mobil}}
                       </div>
                       <div class= "form-group">
                         {{form.colour_mobil.label}}
                         {{form.colour_mobil}}
                        </div>
                        <div class= "form-group">
                         {{form.price_mobil.label}}
                         {{form.price_mobil}}
                        </div>
                        <div class="form-group">
                         {{form.category_id.label}}
                         {{form.category_id}}
                        </div>
                   <button class="btn btn-success" type="submit" >submit </button>
               </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>